/* colores: #5f9281 #396154 #3a494a */
:root {
    --color05: rgb(166, 216, 197);
    --color10: #5f9281;
    --color20: #396154;
    --color30: #3a494a;
}

body {
    background-color: var(--color10);
    font-family: helvetica;
}

/* Estilos para la barra de navegación */
nav {
    background-color: var(--color20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav .logo img {
    width: 75px;
    height: auto;
}

.secciones a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.secciones a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

/* Estilos para la sección principal */
.principal {
    width: 100%;
}

.principal img {
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
}

/* Estilos para la sección de comidas */
#comidas {
    background-color: var(--color20);
}

#comidas h1 {
    align-items: center;
    margin: 20px auto;
    color: whitesmoke;
}

.comidas {
    display: flex;
    flex-wrap: wrap;
}

.comida {
    width: calc(100% - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: var(--color05);
    border-radius: 10px;
    overflow: hidden;
}

.comida .imagen {
    flex: 1;
    order: 0;
}

.comida .imagen img {
    width: 100%;
    height: auto;
}

.comida .info {
    flex: 2;
    order: 1;
    padding: 20px;
}

.comida .infoizq {
    flex: 2;
    order: -1;
    padding: 20px;
}

.comida p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Estilos para la sección de redes sociales */
.redes {
    background-color: var(--color20);
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

#redes ul {
    display: flex;
    margin: auto;
    padding-left: 0;
    list-style: none;
}

#redes li {
    display: flex;
    margin: auto;
}

.red {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.img-redes {
    width: 30px;
    height: 30px;
}

.link-redes {
    color: white;
    text-decoration: none;
}

.link-redes:hover {
    text-decoration: none;
}

#redes .img-container {
    margin: auto;
}

/* Estilos para la sección "Acerca de Nosotros" */
.acerca {
    padding: 20px;
    background-color: var(--color10);
    text-align: center;
}

.acerca h2 {
    margin-bottom: 10px;
    color: whitesmoke;
}

.acerca p {
    color: whitesmoke;
    line-height: 1.6;
}

/* Estilos para el footer */
footer {
    background-color: var(--color30);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {

    /* navbar  */
    nav {
        display: none;
    }

    .secciones {
        display: none;
    }

    .logo img {
        display: none;
    }

    /* sección principal */
    .principal img {
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
    }

    /* sección comidas  */
    .comida {
        display: block;
    }

    /* sección redes */
    #redes ul {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: auto;
        list-style: none;
    }

    #redes li {
        margin: 10px auto;
    }
}

/* div con interaccion con el item (sumar o restar y mostrar cantidad) */
.item-interaction-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.item-interaction-container * {
    margin: 5px 5px;
}

.item-interaction-container button {
    border-radius: 50%;
    width: 24px;
    background-color: #000;
    color: #fff;
    border-color: #000;
    border-style: solid;
}

/* botón flotante de pedido */
#boton-pedido {
    visibility: hidden;
}

.boton-pedido {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 60px;
    z-index: 9999;
    overflow: hidden;
    box-sizing: border-box;
}

.boton-pedido button {
    background-color: #25d366;
    border-radius: 50px;
    color: #000;
    width: 100%;
}

/* botón flotante de reset */
#boton-reset {
    visibility: hidden;
}

.boton-reset {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 60px;
    z-index: 9999;
    overflow: hidden;
    box-sizing: border-box;
}

.boton-reset button {
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    color: #ffffff;
    width: 100%;
}